* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.855); 
}

.cardapio h4 {
    font-weight:100;
    text-align: center;
    margin-top: 10px;
}

.cardapio h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;  
}

.cardapio  div{
    border-style: double;
    border-width: 40px;
    border-color: black;
    color: white;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cardapio img {
    width: 326px;
    height: 300px;
}

.cardapio button {
    margin-top: 10px;
    margin-left: 0;
}